:root {
  --main-800-trans-750: rgba(0, 22, 36, .75);
  --main-800: rgb(0, 22, 36);
  --main-400-trans-900: rgba(223, 72, 7, .9);
  --main-400-trans-750: rgba(223, 72, 7, .75);
  --main-400: rgb(223, 72, 7);
  --accent-800-trans-750: rgba(0, 0, 0, .75);
  --accent-700-trans-750: rgba(87, 87, 87, .75);
  --accent-700: rgb(69, 69, 69);
  --accent-600: rgb(172, 55, 5);
  --accent-300: rgb(255, 98, 8);
  --accent-200: rgb(202, 202, 202);
  --accent-100: rgb(255, 255, 255);
  --fs-head-800: 4em;
  --fs-head-600: 3em;
  --fs-head-400: 2em;
  --fs-text-300: 1.5em;
  --fs-text-200: 1.3em;
  --fs-text-190: 1.2em;
  --fs-text-150: 1em;
  --fs-text-100: .8em;
  --grid-gap-100: 1em;
  --grid-gap-50: .5em;
  --fs-2000: 8em;
  --fs-1500: 6em;
  --fs-1000: 4em;
  --fs-800: 2em;
  --fs-400: 1.5em;
  --fs-300: 1.4em;
  --fs-200: 1.2em;
  --fs-100: 1em;
  --fs-70: 0.7em;
  --fw-700: 700;
  --fw-100: 100;
  --blur: 4px;
  --footer-text-pos: 10em;
  --heading-height: 15%;
  --logo-width: 80%;
  --featured-content__news-grid__row-height: 2.5em;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.heading-2000 {
  font-size: var(--fs-2000);
}

.heading-1500 {
  font-size: var(--fs-1500);
}

.heading-1000 {
  font-size: var(--fs-1000);
}

.heading-800 {
  font-size: var(--fs-800);
}

.heading-400 {
  font-size: var(--fs-400);
}

.heading-300 {
  font-size: var(--fs-300);
}

.text-200 {
  font-size: var(--fs-200);
}

.text-100 {
  font-size: var(--fs-100);
}

.flex {
  display: flex;
}

.height-100 {
  height: 100%;
}

.width-100 {
  width: 100%;
}

.fullscreen {
  width: 100%;
  height: 100%;
}

.pre-line {
  white-space: pre-line;
}

@media only screen and (max-width: 576px) {
  :root {
    --fs-head-400: .8em !important;
    --featured-content__news-grid__row-height: 2em !important;
    --fs-head-800: 1.5em;
    --fs-text-300: .9em;
    --fs-text-200: .8em;
  }
  .featured-content__news {
    grid-column: 1/span 2 !important;
    font-size: var(--fs-head-800) !important;
  }
  .featured-content__upc-events {
    grid-column: 1 !important;
    grid-row: 4 !important;
    font-size: var(--fs-head-800) !important;
  }
  .featured-content__news-grid {
    -moz-column-gap: var(--grid-gap-50) !important;
         column-gap: var(--grid-gap-50) !important;
    row-gap: var(--grid-gap-50) !important;
    grid-template-columns: repeat(2, calc((100% - var(--grid-gap-50)) / 2)) !important;
    grid-template-rows: var(--featured-content__news-grid__row-height) repeat(2, calc((50% - var(--featured-content__news-grid__row-height) - var(--grid-gap-50)) / 2)) var(--featured-content__news-grid__row-height) 45% !important;
    height: 40em !important;
  }
  .event {
    grid-column: 1 !important;
    grid-row: 5 !important;
  }
  .carousel-indicators {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  :root {
    --fs-head-400: 1em;
    --featured-content__news-grid__row-height: .8em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  :root {
    --fs-head-400: 1.1em;
    --fs-text-300: .6em;
    --featured-content__news-grid__row-height: .9em;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  :root {
    --fs-head-400: 1.3em;
    --fs-text-300: .9em;
    --featured-content__news-grid__row-height: 1.2em;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  :root {
    --fs-head-400: 1.5em;
    --fs-text-300: 1em;
    --featured-content__news-grid__row-height: 1.5em;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1650px) {
  :root {
    --fs-head-400: 1.7em;
    --fs-text-300: 1.2em;
    --heading-height: 15%;
  }
}
@media only screen and (min-width: 1651px) and (max-width: 2500px) {
  :root {
    --fs-head-400: 2em;
    --logo-width: 75%;
  }
  .featured-content__news {
    grid-column: 1/span 2;
  }
  .featured-content__upc-events {
    grid-column: 3;
    grid-row: 1;
  }
}
img,
iframe {
  width: 100%;
  height: 100%;
}

.body-grid-container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 12% 63% 25%;
  grid-template-rows: 5% 90% 5%;
  overflow-y: hidden;
  color: var(--accent-700);
}

.grid-element-1-1 {
  grid-row: 1;
  grid-column: 1;
}

.grid-element-1_2-3 {
  grid-row: 1/span 2;
  grid-column: 3;
}

.grid-element-1-1_2 {
  grid-row: 1;
  grid-column: 1/span 2;
}

.grid-element-1-1_3 {
  grid-row: 1;
  grid-column: 1/span 3;
}

.grid-element-1-2 {
  grid-row: 1;
  grid-column: 2;
}

.grid-element-1-2_3 {
  grid-row: 1;
  grid-column: 2/span 2;
}

.grid-element-1-3 {
  grid-row: 1;
  grid-column: 3;
}

.grid-element-2-1 {
  grid-row: 2;
  grid-column: 1;
}

.grid-element-2-1_2 {
  grid-row: 2;
  grid-column: 1/span 2;
}

.grid-element-2-2 {
  grid-row: 2;
  grid-column: 2;
}

.grid-element-2-2_3 {
  grid-row: 2;
  grid-column: 2/span 2;
}

.grid-element-2-3 {
  grid-row: 2;
  grid-column: 3;
}

.grid-element-2_3-1 {
  grid-row: 2/span 2;
  grid-column: 1;
}

.grid-element-2_3-2_3 {
  grid-row: 2/span 2;
  grid-column: 2/span 2;
}

.grid-element-2_3-3 {
  grid-row: 2/span 2;
  grid-column: 3;
}

.grid-element-3-1 {
  grid-row: 3;
  grid-column: 1;
}

.grid-element-3-1_2 {
  grid-row: 3;
  grid-column: 1/span 2;
}

.grid-element-3-2 {
  grid-row: 3;
  grid-column: 2;
}

.grid-element-3-3 {
  grid-row: 3;
  grid-column: 3;
}

.grid-element-4-1_2 {
  grid-row: 4;
  grid-column: 1/span 2;
}

.top-left-logo {
  background-color: var(--main-800);
  height: 100%;
  align-items: center;
  justify-content: left;
}
.top-left-logo__svg {
  position: relative;
  width: var(--logo-width);
  margin-left: 1em;
}

.rest-top {
  background-color: var(--main-800);
}

.sidebar {
  font-size: var(--fs-text-300);
  position: relative;
  grid-column: 1;
  grid-row: 2/span 2;
}
.sidebar__menu {
  background-color: var(--main-400);
  border-right: 2px solid var(--accent-600);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.sidebar__menu__toggler {
  background-color: var(--main-800);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
  text-align: center;
  color: var(--accent-100);
  width: 1em;
  height: 1em;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.sidebar__menu__toggler p {
  font-size: var(--fs-text-100);
  padding-bottom: 0.3em;
}

.main-menu__list {
  display: block;
  grid-column: 1;
  grid-row-start: 2;
  grid-row-end: 4;
}
.main-menu__list :hover {
  background-color: var(--accent-300);
}
.main-menu__list .active {
  background-color: var(--accent-300);
}
.main-menu__list .nav-item {
  margin-top: 0.25em;
  height: 1.5em;
}
.main-menu__list a {
  color: var(--accent-100);
  text-decoration: none;
  padding-left: 0.5em;
  width: 100%;
}
.main-menu__list a:focus {
  text-decoration: none;
}

.blog-content {
  width: 100%;
  overflow-y: scroll;
  grid-column: 1/span 3;
  grid-row: 2/span 2;
  overflow-x: hidden;
}
.blog-content__header {
  width: 90%;
  height: 1.8em;
  position: fixed;
  background-color: var(--accent-100);
  z-index: 5;
  padding-top: 0.2em;
  padding-left: 0.4em;
}
.blog-content__content {
  width: 90%;
  position: relative;
  margin: 0 auto;
}
.blog-content__test {
  display: grid;
  grid-template-columns: repeat(4, calc((100% - 7.5em) / 4));
  grid-template-rows: 15em;
  -moz-column-gap: 2.5em;
       column-gap: 2.5em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5em;
  margin-top: 1.8em;
}
.blog-content__leading {
  grid-column: 2/span 2;
}
.blog-content__test2 {
  display: grid;
  grid-template-columns: repeat(4, calc((100% - 7.5em) / 4));
  grid-template-rows: repeat(3, 15em);
  -moz-column-gap: 2.5em;
       column-gap: 2.5em;
  row-gap: 2.5em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.blog-content__bc {
  background-color: bisque;
}

.layout1 {
  display: grid;
  grid-template-columns: 60% 36%;
  grid-template-rows: 100%;
  -moz-column-gap: 4%;
       column-gap: 4%;
  margin-top: 6em;
}
.layout1__left {
  width: 100%;
  margin: auto auto;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
}
.layout1__left img {
  max-height: 20em;
}
@media (max-width: 1300px) {
  .layout1__left img {
    height: 18em;
  }
}
@media (max-width: 1200px) {
  .layout1__left img {
    font-size: 1.8rem;
  }
}
@media (max-width: 1040px) {
  .layout1__left img {
    font-size: 1.6rem;
  }
}
@media (max-width: 922px) {
  .layout1__left img {
    font-size: 1.4rem;
  }
}
@media (max-width: 800px) {
  .layout1__left img {
    font-size: 1.2rem;
  }
}
.layout1__heading {
  position: absolute;
  bottom: 0;
  background-color: var(--accent-grey-1);
  width: 100%;
  text-align: center;
  height: 3rem;
  font-size: 2rem;
}
@media (max-width: 1200px) {
  .layout1__heading {
    font-size: 1.8rem;
  }
}
@media (max-width: 1040px) {
  .layout1__heading {
    font-size: 1.6rem;
  }
}
@media (max-width: 922px) {
  .layout1__heading {
    font-size: 1.4rem;
  }
}
@media (max-width: 800px) {
  .layout1__heading {
    font-size: 1.2rem;
  }
}
.layout1__preview-section {
  position: relative;
  width: 100%;
  border: 0.5px solid var(--accent-300);
  border-radius: 0.5rem;
}
@media (max-width: 1300px) {
  .layout1__preview-section {
    height: 18em;
  }
}
@media (max-width: 1200px) {
  .layout1__preview-section {
    font-size: 1.8rem;
  }
}
@media (max-width: 1040px) {
  .layout1__preview-section {
    font-size: 1.6rem;
  }
}
@media (max-width: 922px) {
  .layout1__preview-section {
    font-size: 1.4rem;
  }
}
@media (max-width: 800px) {
  .layout1__preview-section {
    font-size: 1.2rem;
  }
}
.layout1__preview-heading {
  width: 90%;
  margin: 0 auto;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.layout1__preview-text {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2rem;
  line-height: 1.5em;
}
@media (max-width: 1685px) {
  .layout1__preview-text {
    font-size: 0.9em;
  }
}
@media (max-width: 1370px) {
  .layout1__preview-text {
    font-size: 0.8rem;
  }
}
@media (max-width: 1040px) {
  .layout1__preview-text {
    font-size: 1.6rem;
  }
}
@media (max-width: 922px) {
  .layout1__preview-text {
    font-size: 1.4rem;
  }
}
@media (max-width: 800px) {
  .layout1__preview-text {
    font-size: 1.2rem;
  }
}
.layout1__preview-button {
  position: absolute;
  width: 50%;
  bottom: 0.5em;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0.5rem;
  border: none;
  color: var(--accent-300);
  font-size: 1.5rem;
}

.layout2__top {
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  padding: 0;
  border: 0.5px solid var(--accent-300);
}
.layout2__top:hover .layer2__hover {
  display: block;
}
.layout2__picture {
  display: relative;
}
.layout2__image {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.layout2__placeholder {
  aspect-ratio: 2/1;
}
.layout2__svg {
  position: absolute;
  top: 50%;
  height: 5em;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.layout2__heading {
  position: absolute;
  bottom: 0;
  background-color: var(--accent-grey-1);
  width: 100%;
  text-align: center;
  height: 3rem;
  font-size: 2rem;
}
.layout2__hover {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 10;
  top: 0;
  left: 0;
  color: var(--accent-100);
  display: none;
}

.triple-content {
  display: grid;
  grid-column: 30% 30% 30%;
  grid-row: 100%;
  -moz-column-gap: 5%;
       column-gap: 5%;
  padding-top: 2em;
  height: 5em;
}

.featured-content__news {
  position: relative;
  width: 5.5em;
  left: 0;
  top: 0;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  color: var(--accent-700);
  font-size: var(--fs-head-400);
  grid-column: 1/span 2;
  grid-row: 1;
}
.featured-content__news::after {
  content: "";
  display: block;
  width: 54%;
  background-color: var(--accent-300);
  height: 0.3em;
  position: absolute;
  top: 1.25em;
  right: 50%;
  z-index: -1;
  transition: transform 400ms;
  transform-origin: bottom left;
}
.featured-content__news:hover {
  color: var(--accent-100);
}
.featured-content__news:hover::after {
  transform: scaleY(4.5) scaleX(2);
}
.featured-content__upc-events {
  position: relative;
  width: 10.5em;
  right: 0;
  top: 0;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  color: var(--accent-700);
  font-size: var(--fs-head-400);
  grid-column: 3;
  grid-row: 1;
}
.featured-content__upc-events::after {
  content: "";
  display: block;
  width: 27%;
  background-color: var(--accent-300);
  height: 0.3em;
  position: absolute;
  top: 1.25em;
  right: 75%;
  z-index: -1;
  transition: transform 400ms;
  transform-origin: bottom left;
}
.featured-content__upc-events:hover {
  color: var(--accent-100);
}
.featured-content__upc-events:hover::after {
  transform: scaleY(4.5) scaleX(3.75);
}
.featured-content__content {
  width: 80%;
  position: relative;
  margin: 0 auto;
}
.featured-content__header {
  width: 90%;
  height: 1.8em;
  position: fixed;
  background-color: var(--accent-100);
  z-index: 5;
  padding-top: 0.2em;
  padding-left: 0.4em;
}
.featured-content__news-grid {
  width: 100%;
  height: 55em;
  display: grid;
  grid-template-columns: repeat(3, calc((100% - 2em) / 3));
  grid-template-rows: var(--featured-content__news-grid__row-height) repeat(2, calc((100% - var(--featured-content__news-grid__row-height) - 2em) / 2));
  -moz-column-gap: var(--grid-gap-100);
       column-gap: var(--grid-gap-100);
  row-gap: var(--grid-gap-100);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1em;
  margin-bottom: 4em;
}

@-webkit-keyframes popup-slide-in {
  0% {
    transform: scaleX(0);
    transform-origin: 100% 100%;
  }
  95% {
    transform: scaleX(1);
    transform-origin: 100% 100%;
  }
}

@keyframes popup-slide-in {
  0% {
    transform: scaleX(0);
    transform-origin: 100% 100%;
  }
  95% {
    transform: scaleX(1);
    transform-origin: 100% 100%;
  }
}
@-webkit-keyframes text-opacity {
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes text-opacity {
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes shrink-heading {
  0% {
    width: inherit;
  }
  95% {
    width: 70%;
  }
}
@keyframes shrink-heading {
  0% {
    width: inherit;
  }
  95% {
    width: 70%;
  }
}
.news__carousel {
  color: var(--accent-100);
}
.news__carousel__bgimg {
  z-index: -1;
}
.news__carousel__content {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  cursor: pointer;
}
@media all and (min-width: 922px) {
  .news__carousel__content:hover .news__carousel__content__popup,
.news__carousel__content:hover .news__carousel__content__popup__text {
    display: block;
  }
  .news__carousel__content:hover .news__carousel__content__heading {
    -webkit-animation: shrink-heading 2s ease-out 0s 1 normal forwards;
            animation: shrink-heading 2s ease-out 0s 1 normal forwards;
    width: 70%;
  }
}
.news__carousel__content__heading__big {
  font-size: var(--fs-text-300);
}
.news__carousel__content__heading__small {
  font-size: var(--fs-text-200);
}
.news__carousel__content__heading__small, .news__carousel__content__heading__big {
  background-color: var(--accent-800-trans-750);
  width: inherit;
  height: var(--heading-height);
  padding-left: 0.4em;
  display: flex;
  align-items: center;
}
.news__carousel__content__popup {
  background-color: var(--accent-800-trans-750);
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
  height: 100%;
  padding-top: 0.4em;
  padding-left: 0.8em;
  display: none;
  -webkit-animation: popup-slide-in 2s ease-out 0s 1 normal forwards;
          animation: popup-slide-in 2s ease-out 0s 1 normal forwards;
}
.news__carousel__content__popup__text {
  display: none;
  width: 80%;
  opacity: 0;
  -webkit-animation: text-opacity 2s ease-out 0s 1 normal forwards;
          animation: text-opacity 2s ease-out 0s 1 normal forwards;
}
.news__carousel__bgimg,
.news__carousel .carousel-inner,
.news__carousel .carousel-item {
  width: inherit;
  height: inherit;
}

.carousel-control-next-icon {
  margin-left: 6em;
}

.carousel-control-prev-icon {
  margin-right: 6em;
}

.event {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  color: var(--accent-100);
  cursor: pointer;
}
.event__title {
  width: 100%;
  height: 5%;
  padding-left: 0.4em;
  background-color: var(--accent-800-trans-750);
  display: flex;
  align-items: center;
}
.event__title__big {
  font-size: var(--fs-text-300);
}
.event__title__small {
  font-size: calc(var(--fs-text-300) - 0.2em);
}
.event__picture {
  height: 100%;
  width: 100%;
  z-index: -1;
}

@-webkit-keyframes news-popup-animate {
  0% {
    height: 0;
  }
  95% {
    height: 20%;
  }
}

@keyframes news-popup-animate {
  0% {
    height: 0;
  }
  95% {
    height: 20%;
  }
}
@-webkit-keyframes news-text-animate {
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes news-text-animate {
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.news-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  color: var(--accent-100);
  cursor: pointer;
}
.news-container:hover .news-container__popup {
  display: block;
}
.news-container__picture {
  width: 100%;
  height: 100%;
  z-index: -1;
}
.news-container__heading {
  background-color: var(--accent-800-trans-750);
  width: 100%;
  height: 10%;
  padding-left: 0.4em;
  display: flex;
  align-items: center;
}
.news-container__heading__small {
  font-size: var(--fs-text-200);
}
.news-container__heading__big {
  font-size: var(--fs-text-300);
}
.news-container__popup {
  background-color: var(--accent-800-trans-750);
  position: relative;
  top: 10%;
  height: 20%;
  display: none;
  -webkit-animation: news-popup-animate 1s ease 0s 1 normal forwards;
          animation: news-popup-animate 1s ease 0s 1 normal forwards;
}
.news-container__text {
  width: 80%;
  padding-left: 0.6em;
  padding-top: 0.2em;
  opacity: 0;
  -webkit-animation: news-text-animate 1s ease 0s 1 normal forwards;
          animation: news-text-animate 1s ease 0s 1 normal forwards;
}
.news-container__video {
  z-index: -1;
}

.about-us {
  display: grid;
  grid-template-columns: 30% 36% 28%;
  grid-template-rows: 100%;
  -moz-column-gap: 3%;
       column-gap: 3%;
  margin-bottom: 4em;
  margin-top: 0.3em;
  width: 100%;
}
.about-us__heading {
  position: relative;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 4.5em;
  margin-bottom: 0.2em;
  color: var(--accent-700);
}
.about-us__heading::after {
  content: "";
  display: block;
  width: 66%;
  background-color: var(--accent-300);
  height: 0.3em;
  position: absolute;
  top: 85%;
  right: 38%;
  z-index: -1;
  transition: transform 400ms;
  transform-origin: bottom left;
}
.about-us__heading:hover {
  color: var(--accent-100);
}
.about-us__heading:hover::after {
  transform: scaleY(5.5) scaleX(1.6);
}
.about-us__text {
  line-height: 1.5em;
}
.about-us__map {
  width: 100%;
  aspect-ratio: 3/1;
  margin-bottom: 2em;
}
.about-us__facts {
  display: grid;
  grid-template-columns: repeat(2, 48%);
  grid-template-rows: 10% repeat(3, 24%);
  -moz-column-gap: 2%;
       column-gap: 2%;
  row-gap: 2%;
  height: 80%;
  margin-top: auto;
  margin-bottom: auto;
}
.about-us__facts span {
  display: flex;
  width: 100%;
  text-align: center;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.about-us__fact {
  border: 1px solid var(--accent-300);
  color: var(--accent-300);
  border-radius: 10px;
  margin-bottom: auto;
  margin-top: auto;
}
.about-us__keyhead {
  font-weight: 700;
}
.article-list__nav {
  justify-content: end;
  font-size: var(--fs-text-200);
  width: 47%;
  align-items: end;
}
.article-list__nav__header {
  padding-top: 0.2em;
  padding-left: 0.4em;
  padding-bottom: 0.4em;
  width: 40%;
}
.article-list__nav__container {
  background-color: var(--accent-100);
  position: fixed;
  z-index: 5;
  width: 100%;
}
.article-list__nav__link {
  color: var(--accent-700);
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.article-list__nav__link:hover, .article-list__nav__link:focus {
  color: var(--accent-700);
  text-decoration: underline;
}
.article-list__nav .active {
  text-decoration: underline;
}
.article-list__list {
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  gap: 2%;
}
.article-list__column {
  flex: 0 0 30%;
  aspect-ratio: 2/1;
  margin-bottom: 1em;
}
.article-list__top-article {
  width: 90%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  aspect-ratio: 2/1;
  cursor: pointer;
  margin-bottom: 2em;
}
.article-list__top-article:hover img {
  transform: scale(1.1);
}
.article-list__top-article__image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  overflow: hidden;
}
.article-list__top-article__image img {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
.article-list__top-article__content {
  color: var(--accent-100);
  position: absolute;
  bottom: 0;
  padding: 1em;
  background-color: var(--accent-700-trans-750);
  width: 100%;
}
.article-list__top-article__content p {
  width: 90%;
  margin-top: 0.5em;
}
.article-list__small-article {
  width: 32%;
  position: relative;
  margin-bottom: 2em;
  cursor: pointer;
}
.article-list__small-article:hover img {
  transform: scale(1.1);
}
.article-list__small-article__image {
  width: 100%;
  aspect-ratio: 2/1;
  overflow: hidden;
}
.article-list__small-article__image img {
  height: 100%;
  transition: all 0.5s;
}
.article-list__small-article__heading {
  position: absolute;
  bottom: 0;
  color: var(--accent-100);
  background-color: var(--accent-700-trans-750);
  width: 100%;
  text-align: left;
  padding: 0.2em;
}
.article-list__heading {
  text-align: center;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}
.article-list__heading::before {
  content: "";
  display: block;
  width: 50%;
  background-color: var(--accent-700);
  height: 0.1em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.2em;
}
.article-list__heading::after {
  content: "";
  display: block;
  width: 50%;
  background-color: var(--accent-700);
  height: 0.1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.2em;
}

.cat-children {
  display: none;
}

.bigscreen {
  height: 100vh;
}
.bigscreen__logo {
  width: 20%;
  position: absolute;
  top: 2em;
}
.bigscreen__logo__right {
  left: 2em;
}
.bigscreen__logo__left {
  right: 2em;
}
.bigscreen__layoutwp__bgimg {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}
.bigscreen__layoutwp__bgblur {
  filter: blur(var(--blur));
  -webkit-filter: blur(var(--blur));
}
.bigscreen__footer {
  background-color: var(--main-400-trans-750);
  position: absolute;
  bottom: 0;
  height: 10em;
  align-items: center;
  box-shadow: 0px -10px 15px -5px var(--accent-600);
  color: var(--accent-100);
}
.bigscreen__footer__heading {
  padding-left: 1%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.bigscreen__footer__heading::after {
  content: "";
  height: 90%;
  width: 0.25em;
  background-color: var(--accent-300);
  opacity: 50%;
  margin-left: 1em;
}
.bigscreen__footer__article-text {
  font-size: var(--fs-text-300);
  padding: 1em;
  width: 50%;
  line-height: 1.5em;
}
.bigscreen__footer__image {
  width: 35em;
  height: 35em;
  position: absolute;
  bottom: 2.5em;
  left: 2.5em;
}
.bigscreen__footer__welcome {
  top: 0.25em;
  font-weight: var(--fw-100);
}
.bigscreen__footer__name {
  bottom: 0.75em;
  font-weight: var(--fw-700);
}
.bigscreen__footer__qrcode {
  position: absolute;
  right: 0;
  height: 100%;
  width: 27em;
}
.bigscreen__footer__qrcode__text {
  bottom: 0;
  padding-left: 0.5em;
  padding-bottom: 0.1em;
  font-weight: var(--fw-700);
  width: calc(100% - 8em);
  font-size: var(--fs-text-200);
}
.bigscreen__footer__qrcode__image {
  width: 11em;
}
.bigscreen__footer__wop {
  left: 0.5em;
}
.bigscreen__footer__wp {
  left: 10em;
}
.bigscreen__info {
  background-color: var(--main-800-trans-750);
  width: 60%;
  height: 41em;
  position: absolute;
  box-shadow: 0px 1px 15px 5px var(--main-800);
}
.bigscreen__info__right {
  right: 0;
  top: 3em;
  border-radius: 10px 0 0 10px;
}
.bigscreen__info__left {
  left: 0;
  top: 16em;
  border-radius: 0 10px 10px 0;
}
.bigscreen__info__article-text {
  font-size: var(--fs-800);
  padding: 1em;
  width: 80%;
  line-height: 1.7em;
}
.bigscreen__info__qrcode-text {
  bottom: 0;
  padding-left: 0.5em;
  padding-bottom: 0.1em;
  font-weight: var(--fw-700);
}
.bigscreen__footer__name, .bigscreen__footer__welcome, .bigscreen__info__qrcode-text {
  font-size: var(--fs-1000);
}
.bigscreen__footer__name, .bigscreen__footer__welcome, .bigscreen__info__article-text, .bigscreen__info__qrcode-text {
  position: absolute;
  color: var(--accent-100);
}

.event-cards {
  width: 80%;
  -moz-column-gap: 1em;
       column-gap: 1em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6em;
}
.event-cards__header {
  width: 87%;
  height: 1.8em;
  position: fixed;
  background-color: var(--accent-100);
  z-index: 5;
  padding-top: 0.2em;
  padding-left: 0.4em;
}
.event-cards .card {
  border-radius: 10px;
  overflow: hidden;
  width: 24em !important;
}
.event-cards .card-img-top {
  max-height: 12em;
}
.event-cards .card-body {
  background-color: var(--main-800);
  color: white;
}
.event-cards .card-title {
  margin-bottom: 1em;
}

.profile-menu {
  padding: 0 !important;
  height: 100%;
  z-index: 10;
}
.profile-menu__tab:hover .mod-menu__sub {
  display: block;
}
.profile-menu a {
  color: var(--accent-100);
  text-decoration: none;
}
.profile-menu__collapsable {
  justify-content: end;
  margin-right: 2em;
  font-size: var(--fs-text-300);
}
.profile-menu__list .mod-menu__sub {
  display: none;
  background-color: var(--main-800);
  position: absolute;
  width: 7.5em;
  padding-top: 0.2em;
  padding-left: 0.5em;
  padding-bottom: 0.2em;
}

.article-layout {
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  position: relative;
  margin: 0 auto;
}
.article-layout__heading {
  margin-top: 2em;
  font-size: var(--fs-head-800);
  width: 100%;
}
.article-layout__intro {
  width: 100%;
  height: 23em;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, calc((100% - var(--grid-gap-100)) / 2));
  grid-template-rows: 10% 90%;
  -moz-column-gap: 5em;
       column-gap: 5em;
  row-gap: 1em;
  margin-bottom: 4em;
  margin-top: 5em;
}
.article-layout__intro::after {
  content: "";
  height: 5em;
  background-color: var(--main-800);
  position: absolute;
  bottom: -3.5em;
  left: 0;
  width: 128%;
  z-index: -1;
  transform: translateX(-12%);
}
.article-layout__intro__image {
  width: 100%;
  height: 100%;
  position: absolute;
  grid-column: 2;
  grid-row: 1/span 2;
}
.article-layout__intro__heading {
  grid-column: 1;
  grid-row: 1;
  color: var(--main-400);
  font-size: var(--fs-head-400);
}
.article-layout__intro__paragraph {
  grid-column: 1;
  grid-row: 2/span 2;
}
.article-layout__intro__paragraph__big {
  font-size: var(--fs-text-300);
}
.article-layout__intro__paragraph__small {
  font-size: var(--fs-text-200);
}
.article-layout__intro__paragraph__small, .article-layout__intro__paragraph__big {
  grid-column: 1;
  grid-row: 2/span 2;
}
.article-layout__main {
  margin-top: 4em;
}
.article-layout__main__paragraph {
  width: 100%;
}
.article-layout__main__paragraph__heading {
  font-size: var(--fs-head-400);
  margin-bottom: 0.5em;
}
.article-layout__main__paragraph__text {
  font-size: var(--fs-text-300);
  margin-bottom: 2em;
  width: 60%;
}
.article-layout__main__paragraph__image {
  width: 75%;
  margin-top: 5em;
  margin-bottom: 5em;
  position: relative;
}
.article-layout__main__video {
  width: 53em;
  height: 30em;
  margin-bottom: 4em;
}
.article-layout__slider {
  width: 70%;
  margin-bottom: 5em;
  position: relative;
}
.article-layout__slider__addition {
  width: calc(30% - 1em);
  margin-left: 1em;
}
.article-layout__slider__addition__heading {
  font-size: var(--fs-text-190);
}
.article-layout__slider__addition__text {
  margin-top: 1em;
  font-size: var(--fs-text-150);
}
.article-layout__infobox {
  width: 100%;
  margin-bottom: 1em;
}
.article-layout__infobox::before {
  content: "";
  background-color: var(--accent-700-trans-750);
  width: 100%;
  height: 0.1em;
  display: block;
}/*# sourceMappingURL=main.css.map */