.article-list {

    &__nav {
        justify-content: end;
        font-size: var(--fs-text-200);
        width: 100%;
        align-items: center;

        &__fixed {
            position: fixed;
            background-color: var(--accent-100);
            width: 87.4%;
            z-index: 1;
        }

        &__header {           
            padding-top: .2em;
            padding-left: .4em;
            padding-bottom: .4em;
            width: 40%;
        }

        &__container {

            width: 60%;
        }

        &__link {
            color: var(--accent-700);
            border: none;
            background-color: rgba(0, 0, 0, 0);

            &:hover,
            &:focus {
                color: var(--accent-700);
                text-decoration: underline;
            }
        }

        .active {
            text-decoration: underline;
        }
    }

    &__list {
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        justify-content: flex-start;
        margin-left: auto;
        margin-right: auto;
        gap: 2%;
    }

    &__column {
        flex: 0 0 30%;
        aspect-ratio: 2 / 1;
        margin-bottom: 1em;
    }

    &__top-article {
        width: 90%;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        aspect-ratio: 2 / 1;
        cursor: pointer;
        margin-bottom: 2em;
        top: 5em;

        &:hover {

            img {
                transform: scale(1.1);
            }
        }

        &__image {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
            top: 0;
            left: 0;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                transition: all .5s;
            }
        }

        &__content {
            color: var(--accent-100);
            position: absolute;
            bottom: 0;
            padding: 1em;
            background-color: var(--accent-700-trans-750);
            width: 100%;

            &__alternate {
                color: var(--accent-100);
                padding: 2em;
                width: 100%;
            }

            &__heading {
                font-size: var(--fs-head-400);
            }

            &__heading-alternate {
                font-size: var(--fs-head-600);
            }

            &__text {
                width: 90%;
                margin-top: .5em;
                font-size: var(--fs-text-200);
            }

            &__text-alternate {
                width: 50%;
                margin-top: 2em;
                font-size: var(--fs-text-300);
            }
        }
    }

    &__small-article {

        width: 32%;
        position: relative;
        margin-bottom: 2em;
        cursor: pointer;
        min-height: 20em;

        &:hover {

            img {
                transform: scale(1.1);
            }
        }

        &__image {
            width: 100%;
            aspect-ratio: 2 / 1;
            overflow: hidden;

            img {
                height: 100%;
                transition: all .5s;
            }
        }

        &__heading {
            position: absolute;
            bottom: 0;
            color: var(--accent-100);
            background-color: var(--accent-700-trans-750);
            width: 100%;
            text-align: left;
            padding-top: .3em;
            padding-bottom: .3em;
            padding-left: .5em;
            font-size: var(--fs-text-300);
        }

        &__alternate {

            &__heading {
                color: var(--accent-100);
                font-size: var(--fs-text-300);
                padding-left: .5em;
                padding-top: .5em;
            }
    
            &__text {
                color: var(--accent-100);
                font-size: var(--fs-text-190);
                width: 80%;
                padding-left: .5em;
                padding-top: .5em;
            }
        }
    }

    &__heading {
        text-align: center;
        width: 100%;
        margin-top: 1em;
        margin-bottom: 1em;

        &::before {
            content: "";
            display: block;
            width: 50%;
            background-color: var(--accent-700);
            height: .1em;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: .2em;
        }

        &::after {
            content: "";
            display: block;
            width: 50%;
            background-color: var(--accent-700);
            height: .1em;
            margin-left: auto;
            margin-right: auto;
            margin-top: .2em;
        }
    }

    &__tab-content {
        position: relative;
        top: 5em;
    }
}

.cat-children {
    display: none;
}