.bigscreen {

    height: 100vh;

    &__logo {
        width: 20%;
        position: absolute;
        top: 2em;

        &__right {
            left: 2em;
        }

        &__left {
            right: 2em;
        }
    }

    &__layoutwp {

        &__bgimg {
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
        }

        &__bgblur {
            filter: blur(var(--blur));
            -webkit-filter: blur(var(--blur));
        }
    }

    &__footer {
        background-color: var(--main-400-trans-750);
        position: absolute;
        bottom: 0;
        height: 10em;
        align-items: center;
        -webkit-box-shadow: 0px -10px 15px -5px var(--accent-600); 
        box-shadow: 0px -10px 15px -5px var(--accent-600);
        color: var(--accent-100);

        &__heading {
            padding-left: 1%;
            width: 15%;
        }

        &__article-text {
            font-size: var(--fs-text-300);
            padding: 1em;
            width: 50%;
            line-height: 1.5em;
        }

        &__image {
            width: 35em;
            height: 35em;
            position: absolute;
            bottom: 2.5em;
            left: 2.5em;
        }

        &__welcome {
            top: .25em;
            font-weight: var(--fw-100);
        }

        &__name {
            bottom: .75em;
            font-weight: var(--fw-700);
        }

        &__qrcode {
            position: absolute;
            right: 0;
            height: 100%;
            width: 16em;
        }

        &__wop {
            left: .5em;
        }

        &__wp {
            left: 10em;
        }
    }

    &__info {
        background-color: var(--main-800-trans-750);
        width: 60%;
        height: 41em;
        position: absolute;
        -webkit-box-shadow: 0px 1px 15px 5px var(--main-800); 
        box-shadow: 0px 1px 15px 5px var(--main-800);

        &__right {
            right: 0;
            top: 3em;
            border-radius: 10px 0 0 10px;
        }

        &__left {
            left: 0;
            top: 16em;
            border-radius: 0 10px 10px 0;
        }

        &__article-text {
            font-size: var(--fs-800);
            padding: 1em;
            width: 80%;
            line-height: 1.7em;
        }

        &__qrcode-text {
            bottom: 0;
            padding-left: .5em;
            padding-bottom: .1em;
            font-weight: var(--fw-700);
        }
    }

    &__footer__name,
    &__footer__welcome,
    &__info__qrcode-text {
        font-size: var(--fs-1000);
    }

    &__footer__name,
    &__footer__welcome,
    &__info__article-text,
    &__info__qrcode-text {
        position: absolute;
        color: var(--accent-100);

    }
}