.blog-content {

  width: 100%;
  overflow-y: scroll;
  grid-column: 1 / span 3;
  grid-row: 2 / span 2;
  overflow-x: hidden;


  &__header {
    width: 90%;
    height: 1.8em;
    position: fixed;
    background-color: var(--accent-100);
    z-index: 5;
    padding-top: .2em;
    padding-left: .4em;
  }

  &__content {
    width: 90%;
    position: relative;
    margin: 0 auto;
  }

  &__test {
    display: grid;
    grid-template-columns: repeat( 4, calc( ( 100% - 7.5em ) / 4 ) );
    grid-template-rows: 15em;
    column-gap: 2.5em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5em;
    margin-top: 1.8em;
  }

  &__leading {
    grid-column: 2 / span 2;
  }

  &__test2 {
    display: grid;
    grid-template-columns: repeat( 4, calc( ( 100% - 7.5em ) / 4 ) );
    grid-template-rows: repeat( 3, 15em );
    column-gap: 2.5em;
    row-gap: 2.5em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  &__bc {
    background-color: bisque;
  }
}