.event {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;

    &__text-container {
        background-color: var(--accent-black-trans-750);
        height: 10%;
    }

    &__heading {
        width: 100%;
        padding-left: .4em;
        padding-top: .2em;
        color: var(--main-white);
        font-size: var(--event-heading-fs);
    }

    &__title {
        width: 100%;
        padding-left: .4em;
        color: var(--main-white);
        margin-top: .2em;
        font-size: var(--event-heading-fs);
    }

    &__picture {
        height: 100%;
        width: 100%;
        z-index: -1;

        img {
            width: 100%;
            height: 100%;
        }
    }
}