.event {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    color: var(--accent-100);
    cursor: pointer;

    &__title {
        width: 100%;
        height: 5%;
        padding-left: .4em;
        background-color: var(--accent-800-trans-750);
        display: flex;
        align-items: center;

        &__big {
            font-size: var(--fs-text-300);
        }

        &__small {
            font-size: calc( var(--fs-text-300) - .2em);
        }
    }

    &__picture {
        height: 100%;
        width: 100%;
        z-index: -1;
    }
}