.top-left-logo {
    background-color: var(--main-800);
    height: 100%;

    &__svg {
        position: relative;
        top: 0.5rem;
        width: 15em;
        left: 1em;
    }
}

.rest-top {
    background-color: var(--main-800);
}