.top-left-logo {
    background-color: var(--main-800);
    height: 100%;
    align-items: center;
    justify-content: left;

    &__svg {
        position: relative;
        width: var(--logo-width);
        margin-left: 1em;
    }
}

.rest-top {
    background-color: var(--main-800);
}