.top-left-logo {
    background-color: var(--main-blue);
    height: 100%;

    &__svg {
        position: relative;
        top: 0.5rem;
        width: var(--top-left-logo);
        left: 1em;
    }
}

.rest-top {
    background-color: var(--main-blue);
}