@keyframes news-popup-animate {
    0% {
            height: 0;
    }

    95% {
            height: 20%;
    }
}

@keyframes news-text-animate {
    95% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.news-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    color: var(--main-white);

    &:hover {
        .news-container__popup {
            display: block;
        }
    }

    &__picture {
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    &__image {
        width: 100%;
        height: 100%;
    }

    &__heading {
        background-color: var(--accent-black-trans);
        width: 100%;
        height: 10%;
        padding-left: .4em;
        padding-top: .2em;
        font-size: var(--news-container-heading-fs);
    }

    &__popup {
        background-color: var(--accent-black-trans);
        position: relative;
        top: 10%;
        height: 20%;
        display: none;
        animation: news-popup-animate 1s ease 0s 1 normal forwards;
    }

    &__text {
        width: calc(100% - .2em);
        padding-left: .2em;
        padding-top: .2em;
        opacity: 0;
        animation: news-text-animate 1s ease 0s 1 normal forwards;
        font-size: var(--news-container-text-fs)
    }

    &__video {
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}