@keyframes news-popup-animate {
    0% {
            height: 0;
    }

    95% {
            height: 20%;
    }
}

@keyframes news-text-animate {
    95% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.news-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    color: var(--accent-100);
    cursor: pointer;

    &:hover {
        .news-container__popup {
            display: block;
        }
    }

    &__picture {
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    &__image {
    }

    &__heading {
        background-color: var(--accent-800-trans-750);
        width: 100%;
        height: 10%;
        padding-left: .4em;
        display: flex;
        align-items: center;

        &__small {
            font-size: var(--fs-text-200);
        }

        &__big {
            font-size: var(--fs-text-300);
        }
    }

    &__popup {
        background-color: var(--accent-800-trans-750);
        position: relative;
        top: 10%;
        height: 20%;
        display: none;
        animation: news-popup-animate 1s ease 0s 1 normal forwards;
    }

    &__text {
        width: 80%;
        padding-left: .6em;
        padding-top: .2em;
        opacity: 0;
        animation: news-text-animate 1s ease 0s 1 normal forwards;
    }

    &__video {
        z-index: -1;
    }
}