@keyframes popup-slide-in {
	0% {
		transform: scaleX(0);
		transform-origin: 100% 100%;
	}

	95% {
		transform: scaleX(1);
		transform-origin: 100% 100%;
	}
}

@keyframes text-opacity {
	95% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes shrink-heading {
	0% {
		width: inherit;
	}

	95% {
		width: 70%;
	}
}

.news {

    &__carousel {

        color: var(--accent-100);

        &__bgimg {
            z-index: -1;
        }

        &__content {
            position: absolute;
            top: 0;
            left: 0;
            width: inherit;
            height: inherit;
            cursor: pointer;

            &:hover {

                .news__carousel__content__popup,
                .news__carousel__content__popup__text {
                    display: block;
                }

                .news__carousel__content__heading {
                    animation: shrink-heading 2s ease-out 0s 1 normal forwards;
                    width: 70%;
                }
            }


            &__heading__big {
                font-size: var(--fs-text-300);
            }

            &__heading__small {
                font-size: var(--fs-text-200);
            }

            &__heading__small,
            &__heading__big {
                background-color: var(--accent-800-trans-750);
                width: inherit;
                height: var(--heading-height);
                padding-left: .4em;
                display: flex;
                align-items: center;
            }

            &__popup {
                background-color: var(--accent-800-trans-750);
                position: absolute;
                right: 0;
                top: 0;
                width: 30%;
                height: 100%;
                padding-top: .4em;
                padding-left: .8em;
                display: none;
                animation: popup-slide-in 2s ease-out 0s 1 normal forwards;

                &__text {
                    display: none;
                    width: 80%;
                    opacity: 0;
                    animation: text-opacity 2s ease-out 0s 1 normal forwards;
                }
            }
        }

        &__bgimg,
        .carousel-inner,
        .carousel-item {
            width: inherit;
            height: inherit;
        }
    }
}

.carousel-control-next-icon {
    margin-left: 6em;
}

.carousel-control-prev-icon {
    margin-right: 6em;
}