.heading-2000 {
    font-size: var(--fs-2000);
}

.heading-1500 {
    font-size: var(--fs-1500);
}

.heading-1000 {
    font-size: var(--fs-1000);
}

.heading-800 {
    font-size: var(--fs-800);
}

.heading-400 {
    font-size: var(--fs-400);
}

.heading-300 {
    font-size: var(--fs-300);
}

.text-200 {
    font-size: var(--fs-200);
}

.text-100 {
    font-size: var(--fs-100);
}

.flex {
    display: flex;
}

.full-height {
    height: 100%;
}

.width-100 {
    width: 100%;
}