.heading1 {
    font-size: var(--fs-800);
}

.heading2 {
    font-size: var(--fs-400);
}

.heading3 {
    font-size: var(--fs-300);
}

.text1 {
    font-size: var(--fs-200);
}

.text2 {
    font-size: var(--fs-100);
}

.flex {
    display: flex;
}

.full-height {
    height: 100%;
}

.width-100 {
    width: 100%;
}