@media only screen and (max-width: 576px) {
    :root {
        --fs-head-400: .8em;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    :root {
        --fs-head-400: 1em;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    :root {
        --fs-head-400: 1.1em;
        --fs-text-300: .6em;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    :root {
        --fs-head-400: 1.3em;
        --fs-text-300: .9em;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    :root {
        --fs-head-400: 1.5em;
        --fs-text-300: 1em;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1650px) {
    
    :root {
        --fs-head-400: 1.7em;
        --fs-text-300: 1.2em;
        --heading-height: 15%;
    }
}

@media only screen and (min-width: 1651px) {
    
    :root {
        --fs-head-400: 2em;
    }
}