:root {
    --main-blue: rgb(0, 22, 36);
    --main-orange: rgb(223, 72, 7);
    --main-white: rgb(255, 255, 255);
    --accent-orange-1: rgb(172, 55, 5);
    --accent-orange-2: rgb(255, 98, 8);
    --accent-grey-1: rgb(202, 202, 202);
    --accent-black-trans: rgba(0, 0, 0, .5);
}