:root {
    --main-blue: rgb(0, 22, 36);
    --main-orange: rgb(223, 72, 7);
    --main-white: rgb(255, 255, 255);
    --accent-orange-1: rgb(172, 55, 5);
    --accent-orange-2: rgb(255, 98, 8);
    --accent-grey-1: rgb(202, 202, 202);
    --accent-black-trans-750: rgba(0, 0, 0, .75);

    --font-size-50: .5em;
    --font-size-80: .8em;
    --font-size-100: 1em;
    --font-size-120: 1.2em;
    --font-size-130: 1.3em;
    --font-size-150: 1.5em;
    --font-size-160: 1.6em;

    --top-left-logo: 15em;
    --news-container-heading-fs: var(--font-size-150);
    --news-container-text-fs: var(--font-size-150);
    --carousel-heading-fs: var(--font-size-150);
    --event-heading-fs: var(--font-size-150);
}